/* Authentication Page */
.auth-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.auth-header {
	padding: 15px;
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.auth-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.auth-main p {
	margin-bottom: 20px;
}

.auth-main .form-control {
	margin-bottom: 10px;
}

.auth-main label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.auth-main label span {
	font-size: 12px;
	font-weight: 400;
	margin-right: 4px;
}

.auth-main label span.error {
	color: var(--error-color);;
}

.auth-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border-radius: var(--border-radius);
	padding-left: 10px;
	margin-bottom: 15px;
}

.auth-main input:focus {
	box-shadow: 3px 3px 0 rgba(32,33,36,.28);
}

.auth-main input.error {
	border: 2px solid var(--error-color);
}

.auth-main .verification {
	display: none;
	position: absolute;
    color: #667aff;
    margin-left: -28px;
    margin-top: 12px;
}

.auth-main .verification.valid {
	display: inline-flex;
}

.auth-main input[type='password'] {
	text-transform: none;
}

.auth-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.auth-main .btn {
	margin-top: 20px;
	width: 100%;
	border-radius: var(--border-radius);
}

.auth-main .btn.valid {
	background: var(--enabled-color);
	font-weight: 400;
	color: #fff
}

.auth-switch-page {
    margin-top: 20px;
    text-align: center;
}

.auth-switch-page span {
    font-weight: 400;
    cursor: pointer;
}

.auth-switch-page span:hover {
    text-decoration: underline;
}