/* Authentication Page */
.auth-container {
	max-width: 450px;
	color: #fff;
	box-shadow: 0 0 10px #008ecc;
	border-radius: 4px;
	width: 100%;
    right: 0;
    position: absolute;
    top: 25%;
    left: 0;
    margin: auto;
}

.auth-header {
	border-bottom: 1px solid #73c2fb;
	text-align: center;
	padding: 15px;
	padding-bottom: 0;
	background: var(--dark-color-a);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.auth-header .motto {
	padding-top: 8px;
	padding-bottom: 15px;
	font-size: 13px;
    font-weight: 400;
}

.auth-main {
	padding: 30px 25px;
	padding-top: 0;
	background: var(--dark-color-b);
	border-bottom-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.auth-main .page-name {
	text-align: center;
	font-weight: 300;
	letter-spacing: .7px;
    padding: 20px 0;
	padding-top: 25px;
}

.auth-main p {
	margin-bottom: 20px;
}

.auth-main label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.auth-main label span {
	font-size: 12px;
	font-weight: 500;
	margin-right: 4px;
}

.auth-main label span.error {
	color: var(--error-color);;
}

.auth-main input {
	font-size: 12px;
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: var(--border-radius);
    padding-left: 10px;
    margin-bottom: 15px;
}

.auth-main input:focus {
	box-shadow: 0 0 5px #fff;
}

.auth-main input.error {
	border: 2px solid var(--error-color);
}

.auth-main .verification {
	display: none;
	position: absolute;
    color: #008ecc;
    margin-left: -28px;
    margin-top: 8px;
}

.auth-main .verification.valid {
	display: inline-flex;
}

.auth-main input[type='password'] {
	text-transform: none;
}

.auth-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.auth-main .btn {
	margin-top: 20px;
	padding: 8px 0;
	width: 100%;
	border-radius: var(--border-radius);
	transition: .2s;
	color: #fff;
}

.auth-main .btn:hover {
	opacity: .92;
}

.auth-main .btn.valid {
	background: var(--enabled-color);
	font-weight: 500;
	color: #fff
}

.auth-switch-page {
    margin-top: 20px;
    text-align: center;
}

.auth-switch-page span {
    font-weight: 400;
    cursor: pointer;
}

.auth-switch-page span:hover {
    text-decoration: underline;
}